.container{
    position :relative;
    background: rgb(236, 239, 241);
    margin-top: 66px;
    .container2{
        background: rgb(255, 255, 255);
        width: 90% ;
        max-width:460px;
        padding-bottom :60px ;
        z-index: 4;
        margin:85px auto;
        display: block;
        height: 410px;
        border-radius: 13px;
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 9px;
        margin-bottom: 119px;
        .SwapHeader{
            
            background-color: white;
            height: 45px;
            max-width:460px;
            width: 100%;
            margin-top: 20px;
            position: absolute;
            z-index: 6;

            h3{
                display:inline;
                background-color: white;
                font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
                font-weight: 700;
               position: relative;
               
               max-width:460px;
               margin-left: 18px;
               margin-top: 4px;

            }
            .SwapSettings{
                position: relative;
                font-size: 1.5rem;
                background-color:white;
                color: rgba(0,0,0,.25);
                margin-left:353px;
               margin-top: 4px;
               &:hover{
                color:darken($color: #000000, $amount: 0) ;
               }
               .action svg{
                font-size: 25;
               }
                // margin-top:-70px;

            }
        }
        .Swapper{
            // position: relative;
            position: absolute;
            
            // background-color: palevioletred;
            height: 336px;
            max-width:460px;
            width: 100%;
            margin-top:74px;
            .Swapper-table1{
                // background-color: palevioletred;
                width:420px;
                max-width:460px;
                height: 96px;
                border-radius: 12px;
                padding: 14px;
                border: 1px solid rgb(236, 239, 241);
                background: rgb(249, 249, 249);
                margin: auto;
                .Swapper-lable{
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.6);
                    font-family: Lato, Helvetica, Arial, sans-serif;    
                    font-size: 14px;
                    line-height: 1.4285em;
                }
                .Swapper-sell{
                   input{
                    
                    padding: 5px 5px 0px 0px;
                    margin-right: 5px;
                    font-size: 24px;
                    font-family: inherit;
                    background: transparent;
                    
                    border: none;
                    outline: none;
                   }
                }

            }
            .Swapper-table2{
                width:420px;
                max-width:460px;
                height: 43px;
                border-radius: 12px;
                padding: 9px;
                // border: 1px solid rgb(236, 239, 241);
                background: white;
                margin: auto;
                margin-top: -73px;
                img{
                    width: 25px;
                    height: 21px;
                  
                }
            }


            .Swapper-table3{
                // background-color: palevioletred;
                width:420px;
                max-width:460px;
                height: 96px;
                border-radius: 12px;
                padding: 14px;
                border: 1px solid rgb(236, 239, 241);
                background: rgb(249, 249, 249);
                margin: auto;
                margin-top: 45px;
                .Swapper-lable{
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.6);
                    font-family: Lato, Helvetica, Arial, sans-serif;    
                    font-size: 14px;
                    line-height: 1.4285em;
                }
                .Swapper-sell{
                   input{
                    
                    padding: 5px 5px 0px 0px;
                    margin-right: 5px;
                    font-size: 24px;
                    font-family: inherit;
                    background: transparent;
                    
                    border: none;
                    outline: none;
                   }
                //    span{
                //     &:hover{
                //      background: rgb(223, 222, 222);

                //     }
                //    }
                }

            }
            .Swapper-table4{
                width:420px;
                max-width:460px;
                height: 96px;
                border-radius: 12px;
                padding: 14px;
                // border: 1px solid rgb(236, 239, 241);
                // background: rgb(249, 249, 249);
                margin: auto;
                margin-top:-73px;
                
                button{
                    display: block; 
                    width: 100%;
                    background-color: rgb(24, 198, 131);
                    color: rgb(255, 255, 255);
                    font-weight: 600;
                    border: 1px solid rgb(24, 198, 131);
                    border-radius: 60px;
                    padding: 18px 0px;
                    // margin-top: 20px;
                    font-size: 20px !important;
                    font-weight: 700;
                    &:hover{
                    background-color: rgb(63, 233, 168);
                    
                    }

                }

            }
           
            
        }
    }
}

/////////////////////////////////////////////////////////
////////////////////////////////////////////////////

@media only screen and (max-width:480px) {
    .site-layout-background{
        margin: 0 !important;
    }
}

///////////////////////////////////////////

@media only screen and (max-width:991px) {
    .site-layout-background{
        margin: 0 !important;
    }
}





