.site-layout-background{
     display:flex;
     justify-content:center;
     margin:-100px 0 0 0;
}

////////////////////////////////////////////////////////////
 
// @media only screen and (max-width:685px) {
//     .site-layout-background{
//         margin: 0 !important;
//     }
//   }